/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnect.xml
/C/legal.xml
/C/network-games.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnect.xml
/cs/cs.po
/cs/gnect.xml
/de/de.po
/de/gnect.xml
/el/el.po
/el/gnect.xml
/en_GB/en_GB.po
/en_GB/gnect.xml
/es/es.po
/es/gnect.xml
/eu/eu.po
/eu/gnect.xml
/fi/fi.po
/fi/gnect.xml
/fr/fr.po
/fr/gnect.xml
/gnect-C.omf
/gnect-ca.omf
/gnect-cs.omf
/gnect-de.omf
/gnect-el.omf
/gnect-en_GB.omf
/gnect-es.omf
/gnect-eu.omf
/gnect-fi.omf
/gnect-fr.omf
/gnect-it.omf
/gnect-oc.omf
/gnect-sv.omf
/it/gnect.xml
/it/it.po
/oc/gnect.xml
/oc/oc.po
/so_locations
/sv/gnect.xml
/sv/sv.po
/tags
