/*
   This file is part of GNOME Four-in-a-row.

   Copyright © 2019 Arnaud Bonatti

   GNOME Four-in-a-row is free software: you can redistribute it and/or
   modify it under the terms of the GNU General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   GNOME Four-in-a-row is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with GNOME Four-in-a-row.  If not, see <https://www.gnu.org/licenses/>.
*/

button.unfullscreen-button {
  margin:6px;
}

GtkButtonBox {
  -GtkButtonBox-child-internal-pad-x:0;
}

.extra-thin-window.thin-window button.new-game-button { padding-left:12px; padding-right:12px; transition: padding 0 ease;
/* hack: fix the double spacing around the centerwidget box, on extra-thin window */
                                                        margin-right:-12px; }
/*\
* * board generics; TODO move in game-window.css
\*/

                               .game-box                { transition:padding 0.3s; padding:1.5rem; }
                  .thin-window .game-box                {                          padding:1.0rem; }
.extra-thin-window.thin-window .game-box,
                  .flat-window .game-box                {                          padding:0.5rem; }
.extra-flat-window.flat-window .game-box                {                          padding:0.4rem; }

/*\
* * start-game button; TODO move in game-window.css
\*/

                               button.start-game-button { margin-top:1.5rem; margin-bottom:0.5rem;
                                               transition:margin-top 0 ease, margin-bottom 0 ease; }
                  .flat-window button.start-game-button { margin-top:0.5rem;                       }
.extra-flat-window.flat-window button.start-game-button { margin-top:  0rem; margin-bottom:0.4rem; }

.extra-thin-window             button.start-game-button { margin-top:1.0rem; }

label.game-name-label:dir(ltr) {
  margin-left : 12px;
}
label.game-name-label:dir(rtl) {
  margin-right: 12px;
}

/* the actionbar is in an overlay... */
actionbar {
  background-color:@theme_bg_color;
}
actionbar:backdrop {
  background-color:@theme_unfocused_bg_color;
}

/*\
* * options buttons
\*/

.extra-flat-window button.start-game-button {
  min-height:2rem;
}
                   button.start-game-button {
  min-height:3rem;
  min-width:11rem;

  transition:min-height          0.3s ease 0.01s;
}

/*\
* * labels' tweaks
\*/

label.bold-label {
  font-weight: bold;
}

/*\
* * the end
\*/
